<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Certification System</title>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
</head>
<body>
    <div class="container">
        <h1 class="text-center">Student Certification System</h1>
    <form action="/list" method="POST">
        <input class="mt-2 form-control" name="name" type="text" placeholder="Enter student name" autocomplete="off">
        <input class="mt-2 form-control" name="class" type="text" placeholder="Enter class" autocomplete="off">
        <input class="mt-2 form-control" name="marks" type="text" placeholder="Enter Marks" autocomplete="off">
        <button type="submit" class="mt-2 btn btn-success">Submit</button>
    </form>
    </div>
    
</body>
</html>